/* .bg-custom-primary {
  background-color: #b9ff66 !important;
}
.custom-border {
  border-bottom: 4px solid #191a23;
  border-top: 0.5px solid #191a23;
  border-left: 0.5px solid #191a23;
  border-right: 0.5px solid #191a23;
}

.custom-accordion-header {
  border: none;
}
.custom-accordion-header > .accordion-button {
  border-radius: 25px;
  padding: 25px 25px 15px 25px;

  
  border-top: 0.5px solid #191a23;
  background-repeat: no-repeat;
  
}
.question {
  font-size: larger;
}
.custom-accordion-header > .accordion-button::after {
  background-image: url("/images/plus2.svg");
  background-position: center;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
}
.custom-accordion-header > .accordion-button:not(.collapsed)::after {
  background-image: url("/images/minus2.svg");
}
.custom-accordion-header > .accordion-button:focus {
  box-shadow: none;
}
.custom-accordion-header > .accordion-button:not(.collapsed) {
  color: #191a23;
  background-color: white;
  background-repeat: no-repeat;
  outline: none;
  border-bottom: 0px;
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-radius: 25px 25px 0px 0px;
  background-color: #b9ff66;
}
.custom-accordion-item {
  border-left: 0.5px solid #191a23;
  border-right: 0.5px solid #191a23;
  border-bottom: 5px solid #191a23;
  border-radius: 25px;
  margin-bottom: 15px;
}
.custom-accordion-item:has(.accordion-collapse.show) {
  border-left: 0.5px solid #191a23;
  border-right: 0.5px solid #191a23;
  border-bottom: 5px solid #191a23;
  border-radius: 25px;
  background-color: #b9ff66;
} */

.custom-accordion-body {
  margin: 0px 30px 30px 30px;
  /* margin: 20px; */
  border-top: 0.5px solid #191a23;
  padding-top: 25px;
  background-color: #b9ff66;
  /* border-left: 0.5px solid #191A23;
  border-right: 0.5px solid #191A23;
  border-bottom: 5px solid #191A23;
  border-radius:0px 0px 15px 15px;
  margin-top: -10px; */
}

/* @media (max-width: 500px) {
  .custom-accordion-body {
    margin: 0px 15px 15px 15px;
  }
  .custom-accordion-header > .accordion-button {
    padding: 15px 15px 0px 15px;
    
  }
  .question {
    font-size: 16px !important;
  }
  .custom-accordion-header > .accordion-button::after {
    background-image: none;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    content: "+";
   
  }
  .custom-accordion-header > .accordion-button:not(.collapsed)::after {
    background-image: none;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    content: "-";
  }
} */
.custom-form-width{
  width: 400px;
  
}
.custom-sidebar-width{
  width: 250px;
}
.bg-main{
  background-color: rgb(52, 41, 41) !important;
  /* background-color: rgb(44, 44, 44); */
}
.text-main{
  color: rgb(100, 13, 13) !important;
}
.custom-dropDown > button{
  background-color: rgb(52, 41, 41);
  border: none;
}
.custom-dropDown > button:hover{
  background-color: rgb(52, 41, 41);
  /* background-color: rgb(52, 41, 41); */
  border: none;
}
.custom-dropDown > button:focus{
  background-color: rgb(52, 41, 41);
 
}




.custom-dropDown {
  position: relative;
}

.custom-dropDown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.custom-dropDown .dropdown-menu {
  position: static !important;
  transform: none !important;
  width: 100%; /* Optional: to make it full width */
}

.custom-dropdown-menu {
  background-color: rgb(52, 41, 41) !important;
  color: white !important;
  overflow: hidden;
  border: none !important;
}
.custom-dropdown-menu > .dropdown-item{
  color: white !important;
  margin-top: 5px;
}
.dropdown-menu > .dropdown-item:hover{
  color: white !important;
  background-color: transparent !important;
  margin-top: 5px;
}





.form-control-custom:focus {
  outline: none;
  border: 1px solid rgb(100, 13, 13);
  /* box-shadow: none; */
}

.form-control-custom{
  border: 1px solid rgb(212, 199, 199) ;
  padding: 8px;
  border-radius: 5px;
}
@media (max-width:500px) {
  .custom-form-width{
    width: 80vw;
    
  }
}